@import './mixins.scss';
@import './variables.scss';

$module: 'menu';

.#{$module} {
  font-size: 1.2em;
  margin-bottom: spacer();

  &__option {
    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  &:before {
    content: "▸";
    display: inline-block;
    font-size: 1.5em;
    line-height: 1em;
    margin-right: spacer(sm);
    position: relative;
    top: 3px;
    width: spacer();
  }

  &:active,
  &:focus,
  &:hover {
    cursor: hand;
    cursor: pointer;
  }
}
