/**
 * variables.scss
 * Use this file to store commonly used variables
 */
/**
 * Layout
 */
/**
 * Style
 */
/**
 * variables.scss
 * Use this file to store commonly used variables
 */
.pkmnList {
  display: block;
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  border-spacing: 0;
  font-size: .8em;
  font-weight: bold;
  text-align: center; }
  .pkmnList__header {
    background: #222;
    color: #fff; }
  .pkmnList__row:nth-child(2n) {
    background: #F5F5F5; }
  .pkmnList__row:nth-child(2n + 1) {
    background: #CCC; }
  .pkmnList__cell {
    border-bottom: 1px solid #222;
    padding: 5px; }
    .pkmnList__cell:first-child {
      border-left: 1px solid #222; }
    .pkmnList__cell--ball {
      background: rgba(232, 44, 12, 0.8);
      border-left: 1px solid #222; }
      .pkmnList__cell--ball:last-child {
        border-right: 1px solid #222; }
