@import './variables.scss';
@import './mixins.scss';

$module: 'searchstring';

.#{$module} {
  &__container {
    background: $background;
    padding: spacer(xs);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__form {
    display: grid;
    grid-gap: spacer(xs);
    grid-template-columns: 1fr;
  }

  &__input {
    display: none;

    &:checked + .#{$module}__pkmn {
      background: rgba($brand-green, .2);

      &:before {
        content: ">";
      }
    }
  }

  &__pkmn {
    margin: 0;
    padding: spacer(xs);

    &:hover {
      cursor: pointer;
    }

    img {
      vertical-align: middle;
    }
  }

  &__label {
    &:hover {
      cursor: hand;
    }
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .#{$module} {
    &__form {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (min-width: $breakpoint-md) {
  .#{$module} {
    &__form {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
