/**
 * variables.scss
 * Use this file to store commonly used variables
 */
/**
 * variables.scss
 * Use this file to store commonly used variables
 */
/**
 * Typography
 */
#root, textarea {
  font-family: "Lucida Console", monospace;
  font-weight: bold;
  font-size: 18px; }

/**
 * Layout
 */
/**
 * Style
 */
/**
 * variables.scss
 * Use this file to store commonly used variables
 */
/**
 * Typography
 */
#root, textarea {
  font-family: "Lucida Console", monospace;
  font-weight: bold;
  font-size: 18px; }

/**
 * Layout
 */
/**
 * Style
 */
.container {
  display: block;
  margin: 0 auto;
  max-width: 990px;
  padding: 0 15px;
  width: 100%; }

/**
 * variables.scss
 * Use this file to store commonly used variables
 */
/**
 * variables.scss
 * Use this file to store commonly used variables
 */
/**
 * Typography
 */
#root, textarea {
  font-family: "Lucida Console", monospace;
  font-weight: bold;
  font-size: 18px; }

/**
 * Layout
 */
/**
 * Style
 */
.searchstring__container {
  background: #f0f0f0;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }

.searchstring__form {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.searchstring__input {
  display: none; }
  .searchstring__input:checked + .searchstring__pkmn {
    background: rgba(41, 213, 143, 0.2); }
    .searchstring__input:checked + .searchstring__pkmn:before {
      content: ">"; }

.searchstring__pkmn {
  margin: 0;
  padding: 5px; }
  .searchstring__pkmn:hover {
    cursor: pointer; }
  .searchstring__pkmn img {
    vertical-align: middle; }

.searchstring__label:hover {
  cursor: hand; }

/**
 * variables.scss
 * Use this file to store commonly used variables
 */
/**
 * Typography
 */
#root, textarea {
  font-family: "Lucida Console", monospace;
  font-weight: bold;
  font-size: 18px; }

/**
 * Layout
 */
/**
 * Style
 */
/**
 * variables.scss
 * Use this file to store commonly used variables
 */
.pkmnList {
  display: block;
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  border-spacing: 0;
  font-size: .8em;
  font-weight: bold;
  text-align: center; }
  .pkmnList__header {
    background: #222;
    color: #fff; }
  .pkmnList__row:nth-child(2n) {
    background: #F5F5F5; }
  .pkmnList__row:nth-child(2n + 1) {
    background: #CCC; }
  .pkmnList__cell {
    border-bottom: 1px solid #222;
    padding: 5px; }
    .pkmnList__cell:first-child {
      border-left: 1px solid #222; }
    .pkmnList__cell--ball {
      background: rgba(232, 44, 12, 0.8);
      border-left: 1px solid #222; }
      .pkmnList__cell--ball:last-child {
        border-right: 1px solid #222; }

* {
  box-sizing: border-box; }

body {
  background: #f0f0f0;
  padding-bottom: 100px; }

#root {
  padding: 50px 0; }

textarea {
  border: 3px solid #222;
  display: inline-block;
  min-height: 4em;
  padding: 10px;
  width: 100%; }
