@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/container.scss';
@import 'styles/searchstring.scss';
@import 'styles/pkmnList.scss';

$black: #222;

* {
  box-sizing: border-box;
}

body {
  background: $background;
  padding-bottom: spacer(xl);
}

footer {
  margin-top: spacer(md);
  padding-bottom:  spacer(xl);
  text-align: center;
}

#root {
  @extend %font-style;
  padding: 50px 0;
}

textarea {
  @extend %font-style;
  border: 3px solid $black;
  display: inline-block;
  min-height: 4em;
  padding: spacer(sm);
  width: 100%;
}

h1 {
  margin-top: 0;
  font-size: 1.6em;
}

h2 {
  font-size: 1.2em;
}

h1, h2 {
  margin-left: spacer();
}
